
<div class='jumbotron bg-grey'>
    <div class="page-header">
        <h1>{{greeting()}} Rohan</h1>
        <h3>Have a Great day</h3>
    </div>
    <!-- <div class="btn-block">
        <button class="btn btn-success btn-block">List Product</button>
    </div> -->
    <div class="nav navbar navbar-light bg-primary">
        <div class="container-fluid">
            <div>
                <button class="btn btn-dark " routerLink="/">HOME</button>
              </div>
            <div>
            <button class="btn btn-dark" routerLink="/productlist">List Product</button>
        </div>
        </div>
    </div>
</div>

